syntax:glob

*.mod
*.o
*.a
*.so
*.pyc
*.autogen
config.mk
config/config*
src_cs/*
src/adjoint/temp*
*.cgnsSpectral*
*~
.*~
*.mod
doc/_build/*
doc/_static/doxydoc/*
doc/tmp*.rst
*.fmt
*.bak
src/build/adflow_project.dep
src/build/libadflow-f2pywrappers2.f90
src/build/libadflowmodule.c
src/build/importTest.py

# Regression test auxiliary files:
input_files.tar.gz
adflow_input_files.tar.gz

# also ignore the input files to regtests after we extract from archine
input_files/*.cgns
input_files/*.xyz
input_files/split_file
input_files/tecplot.phy

adflow.egg-info/*

tests/*.cgns
tests/*out
*.zipper

# for the .cgnsTimestep... files
tests/output_files/*.cgns*
tests/output_files/*.plt

*.cgns
*.txt
*.dat
*.out
*.tar.gz
*.vscode
# optimization reports from intel compilers
*.optrpt

# for mac users
*.DS_Store
