syntax:glob

*.mod
*.o
*.a
*.so
*.pyc
*.autogen
config.mk
config/config*
src_cs/*
src/adjoint/temp*
*.cgnsSpectral*
*~
.*~
*.mod
doc/_build/*
doc/_static/doxydoc/*
*.fmt
*.bak
src/build/adflow_project.dep
src/build/libadflow-f2pywrappers2.f90
src/build/libadflowmodule.c
reg_tests/adflow_reg
reg_tests/adflow_reg.orig
reg_tests/adflow_test*
src/build/importTest.py

#reg test aux files:
reg_tests/*.cgns
reg_tests/*.dat
reg_tests/*.txt
reg_tests/*.zipper
inputFiles.tar.gz
adflow_input_files.tar.gz

# also ignore the input files to regtests after we extract from archine
inputFiles/*.cgns
inputFiles/split_file
inputFiles/tecplot.phy

adflow.egg-info/*

# optimization reports from intel compilers
*.optrpt

# for mac users
*.DS_Store
