syntax:glob

*.mod
*.o
*.a
*.so
*.pyc
*.autogen
config.mk
config/config*
src_cs/* 
src/adjoint/temp*
*.orig
*.cgnsSpectral*
*~
.*~
*.orig
*.mod
doc/_build/*
doc/_static/doxydoc/*
*.fmt
*.bak
src/build/adflow_project.dep
src/build/libadflow-f2pywrappers2.f90
src/build/libadflowmodule.c
python/reg_tests/adflow_test*_reg
python/reg_tests/adflow_reg.ref
python/reg_tests/adflow_reg
src/build/importTest.py

#reg test aux files:
python/reg_tests/*.cgns
python/reg_tests/*.dat
python/reg_tests/*.txt
python/reg_tests/*.zipper
python/inputFiles.tar.gz

# optimization reports from intel compilers
*.optrpt

# for mac users
*.DS_Store
